.dashboardcarousel_content{
    background-color: #f4f6ff;
  }
  
  .dashboardcarousel_item{
    cursor: pointer;
    padding-top: 10px;
  }
  
  .dashboardcarousel_image{
    border-radius: 6px;
  box-shadow: 0 0 8px 2px rgba(0,0,0,.15);
  
    min-width: 100%;
  }