.dashboardnavbar {
    position: fixed;
    top: 1;
    left: 0;
    z-index: 45;
    height: 56px;
    width: 100%;
    background: rgb(55, 0, 255);
    opacity: 0.9;
}

.dashboardnavbar_navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.dashboardspacers{
    flex: 1;
}
.dashboardnavbar_name{
    margin-left: 1rem ;
}
.dashboardnavbar_name a:hover {
    text-decoration: none;
    color: rgb(0, 0, 255);
}
.dashboardnavbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 17px;
}

.dashboardnavbar_name a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}
.dashboardnavbar_navigation-items a {
    text-decoration: none;
    padding: 0 0.5rem;
    color: white;
}
.dashboardnavbar_navigation-items a:hover,
.dashboardnavbar_navigation-items a:active {
    color: rgb(134, 49, 16);
    text-decoration: none;
}

@media (max-width: 768px) {
    .dashboardnavbar_navigation-items {
        display: none;
    }
}