.navbarr{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    height: 56px;
    width: 100%;
    background: rgb(255, 255, 255);
    opacity: 0.9;
}
.navbar_navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}
.spacers{
    flex: 1;
}
.navbar_logo{
    margin-left: 1rem ;
}
.navbar_logo a:hover {
    text-decoration: none;
    color: rgb(147, 147, 231);
}
.navbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 17px;
}
.navbar_navigation-items li {
    color: blue;
    padding: 0 0.5rem;
}
.navbar_logo a {
    color: blue;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar_navigation-items a {
    /* color: white; */
    text-decoration: none;
}
.navbar_navigation-items a:hover,
.navbar_navigation-items a:active {
    color: rgb(134, 49, 16);
    text-decoration: none;
}

@media (max-width: 768px) {
    .navbar_navigation-items {
        display: none;
    }
}