.feature{
    background-color: rgb(231, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.feature_head {
    margin: 2rem;
    font-weight: bold;
    font-size: xx-large;
}

.feature, .feature_card {
    padding: 2rem;
}

.feature_card {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

